body
{
    background-color: white;
}
a
{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
ul
{
    font-size: 20;
    text-align: right;
    padding-top: 50px;
    margin-right: 5px;
}
ul li
{
    display: inline;
}
a:hover
{
    background-color: rgb(207, 82, 82);
    padding-bottom: 4px;
    padding-top: 4px;
}
#container1
{
    height: 600px;
    background-color: black;
    background-image: url(https://images5.alphacoders.com/372/thumb-1920-372649.jpg);
    background-repeat: no-repeat;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
#container2
{
    height: 700px;
    margin-left: 5px;
    background-color: white;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
#container3
{
    height: 700px;
    margin-left: 5px;
    background-color: crimson;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
#container4
{
    height: 700px;
    margin-left: 5px;
    background-color: cyan;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
#container5
{
    height: 200px;
    margin-left: 5px;
    background-color: darkgray;
    margin: -10px;
    display: flex;
}
#container1a
{
    margin-top: 0px;
}
img
{
    margin-top: -90px;
    margin-bottom: 0px;
    width: 100;
    height: 100;
    float: left;
    
}
.hometab
{
    background-color: green;
    padding-top: 4px;
    padding-bottom: 4px;
}
h1
{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 50;
    font-weight: bold;
}
.inner
{
    width: 400px;
}
#first
{
    background-color: black;
}
#second
{
    background-color: black;
}
#third
{
    background-color: black;
}
#fourth
{
    background-color: black;
}
#fifth
{
    background-color: black;
}
h3
{
    color: white;
    text-align: center;
    padding-top: 10px;
}