*
{
	margin: 0;
	padding: 0;

}
body
{
	background-image: url("aerial-beautiful-shot-seashore-with-hills-background-sunset.jpg");
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
	margin-top: 40px;
}